@page "/counter"
@attribute [Authorize(Roles = "Iron Man")]
@inject NavigationManager NavigationManager
@inject ILocalStorageService LocalStorage
@inject AuthenticationStateProvider AuthStateProvider
<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>
<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<AuthorizeView Roles="Iron Man">
    <Authorized>
        <p>
        <span>Yetkili Kişi : @context.User.Identity.Name</span>
        </p>
    </Authorized>
    <NotAuthorized>
        <span>You're not authorized, buddy.</span>

    </NotAuthorized>
</AuthorizeView>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    
}
